<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nusabahana.view"
    android:versionCode="2"
    android:versionName="1.2.1" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <application
        android:icon="@drawable/nusabahana_icon"
        android:label="Nusabahana" >
        <activity
            android:name=".MainMenu"
            android:label="Nusabahana"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutView"
            android:label="About"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ChooseInstrumentMenu"
            android:label="Choose Instrument"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".InstrumentInfoMenu"
            android:label="Instrument Info"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".InstrumentSimulationMenu"
            android:label="Instrument Simulation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".RecordGalleryMenu"
            android:label="Record Gallery"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".BackgroundMusicGalleryMenu"
            android:label="Background Music Gallery"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".DetailFileMenu"
            android:label="Detail File"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".TweetToTwitterActivity"
            android:label="Share Twitter"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tweet-to-twitter-blundell-01-android" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nusabahana.facebook.AndroidFacebookSample"
            android:label="Share Facebook"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".Instruction"
                android:label="How to Play"
                android:theme="@style/Theme.Translucent" />
    </application>

</manifest>